

/*-----------partivulary sections for index-----------*/

/*  intro section*/
.intro{
    background-color: aliceblue;
}

.intro {
    font-family: 'Cherry Bomb One', cursive;
    font-size: 1.5em;
    letter-spacing: 5px;
    padding: 0;
}

.title {
    height: 350px;
    background-image: url("../images/RD.jpg");
    background-size:  100%  ;
    background-repeat: no-repeat;
    margin: 30px 0;
    border-radius: 10px;
    display: flex;

}

.title h1{
    font-size: 70px;
    margin: auto;
    color: rgb(3, 34, 81) ;
    font-family: 'Titillium Web', sans-serif;
}
/* gallery  section */
.banner{
   
    display:flex;
    margin: auto;
    width: 66%;
    height: 400px;
    

}

.banner img{
    
    
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease ;
    border-radius: 15px;
    
}

.banner img:hover{
    cursor: auto;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.gallery h2 {
    font-size: 2em;
    color: rgb(3, 34, 81);
    font-family: 'Titillium Web', sans-serif;
}



/*  Features section */
.features {
    background-color: aliceblue;
    
}
.miniinfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.miniinfo div{
    width: 20%;
    height: 300px;
    border: gray solid 2px;
    
}

/*------------testimonials---------------*/

/*--------Contact--------------*/
.contact{
    background-color: aliceblue;
}
