div{
    border: red solid 1px;
}
h1{
    padding:0; 
    margin: 0; 
    height: 10%; 
    border: blue dotted 1px; padding: 0;
}

.conteiner{
   height:90%; 
   display: flex;
}

.image{
    width: 34%; 
    height: 100%;
}

.text{
    width: 66%; 
    height: 100%;
}

.fijo , .vet{

}
.movil , .portatil{
  background-color: aliceblue;
}
